.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  width: 75%;
}
.classp {
  margin: 10px;
}
h3 {
  margin-top: 10px;
}
.palsentro {
  display: flex;
  flex-direction: column;
  justify-content: center;


}
input {
  width: 200px;
  margin-top: 20px;
  margin-left: 540px;
}
